.hero-container {
  width: 98vw;
  margin: auto;
  height: 75vh;
  position: relative;
  margin-top: 5vh;
}
@media (max-width: 800px) {
  .hero-container {
    margin-top: 10vh;
  }
}

.hero-glass {
  border-radius: 100%;
  width: 40vw;
  aspect-ratio: 1/1;
  padding: 2%;
  position: absolute;
  top: 3.5vh;
  left: 30vw;
  -webkit-animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: fade-in-fwd 2s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .hero-glass > h1 {
  font-size: 400%;
} */

.photo-conatiner {
  position: absolute;
  background: var(--accent);
  bottom: 20%;
  left: 2%;
  width: 22%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.photo-conatiner > img {
  width: 95%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  filter: grayscale(100%);
}

@media (max-width: 1200px) {
  .hero-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero-glass {
    width: fit-content;
    height: fit-content;
    position: initial;
    top: revert;
    left: revert;
    margin-top: 5%;
  }
  .hero-glass > h1 {
    font-size: 2rem;
  }
  h1 {
    font-size: 1rem;
  }
}
@media (max-width: 511px) {
  .hero-glass {
    width: fit-content;
    height: fit-content;
    position: initial;
    top: revert;
    left: revert;
    margin-top: 20%;
    margin-left: 15%;
  }
  .hero-glass > h1 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 0.8rem;
  }
}

/**
 * ----------------------------------------
 * animation fade-in-fwd
 * ----------------------------------------
 */
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
