@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@600&family=Inter:wght@400;500;600;700&family=Poppins:ital,wght@0,100;0,200;0,500;1,100;1,200&family=Roboto:wght@300&display=swap");

body {
  --background-color: #e8e8e8;
  --primary: black; /*the color that appear against the background color*/
  --glass-text: white;
  --nav-footer: #c5c2c2b6;
  --shadowing: #5ffbf1;
  --glass-color: rgba(41, 39, 39, 0.35);
  --accent: linear-gradient(
    to right,
    #d16ba5,
    #c777b9,
    #ba83ca,
    #aa8fd8,
    #9a9ae1,
    #8aa7ec,
    #79b3f4,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
}
[data-theme="dark"] {
  --glass-color: rgba(222, 214, 214, 0.35);
  --background-color: #212121;
  --primary: #e8e8e8;
  --nav-footer: #4d4b4bb9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  line-height: 1.7;
  font-weight: 400;
  font-size: 16px;
  color: var(--primary);
  background-color: var(--background-color);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: background-color 1s ease;
}

.circle {
  position: absolute;
  /* top: calc(50% - 150px);
  left: calc(50% - 150px); */
  border-radius: 50%;
}

.circle-medium {
  width: 10vh;
  height: 10vh;
  box-shadow: inset 0 0 3vh #fff, inset 1vh 0 5vh #f0f, inset -1vh 0 5vh #0ff,
    inset 1vh 0 10vh #f0f, inset -1vh 0 10vh #0ff, 0 0 3vh #fff,
    -0.5vh 0 5vh #f0f, 0.5vh 0 5vh #0ff;
  top: 10%;
  left: 5%;
}

.circle-small {
  width: 5vh;
  height: 5vh;
  box-shadow: inset 0 0 1.5vh #fff, inset 0.5vh 0 2.5vh #f0f,
    inset -0.5vh 0 2.5vh #0ff, inset 0.5vh 0 5vh #f0f, inset -0.5vh 0 5vh #0ff,
    0 0 1.5vh #fff, -0.25vh 0 2.5vh #f0f, 0.25vh 0 2.5vh #0ff;
  bottom: 2%;
  left: 10%;
}

.circle-very-small {
  width: 2.5vh;
  height: 2.5vh;
  box-shadow: inset 0 0 0.75vh #fff, inset 0.25vh 0 1.25vh #f0f,
    inset -0.25vh 0 1.25vh #0ff, inset 0.25vh 0 2.5vh #f0f,
    inset -0.25vh 0 2.5vh #0ff, 0 0 0.75vh #fff, -0.15vh 0 1.25vh #f0f,
    0.15vh 0 1.25vh #0ff;
  top: 10%;
  right: 20%;
}

.circle-large {
  top: 50%;
  right: 50%;
  width: 20vh;
  height: 20vh;
  box-shadow: inset 0 0 6vh #fff, inset 2vh 0 10vh #f0f, inset -2vh 0 10vh #0ff,
    inset 2vh 0 20vh #f0f, inset -2vh 0 20vh #0ff, 0 0 6vh #fff,
    -1vh 0 10vh #f0f, 1vh 0 10vh #0ff;
}

.circle-very-large {
  bottom: 15%;
  right: 15%;
  width: 40vh;
  height: 40vh;
  box-shadow: inset 0 0 6vh #fff, inset 2vh 0 10vh #f0f, inset -2vh 0 10vh #0ff,
    inset 2vh 0 20vh #f0f, inset -2vh 0 20vh #0ff, 0 0 6vh #fff,
    -1vh 0 10vh #f0f, 1vh 0 10vh #0ff;
}

.glass {
  background: rgba(209, 209, 209, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.gradient-text {
  background-color: var(--primary);
  background-image: var(--accent);
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

/**
 * ----------------------------------------
 * animation vibrate-1
 * ----------------------------------------
 */
.scale-up-tr {
  -webkit-animation: scale-up-tr 0.5s ease-out both;
  animation: scale-up-tr 0.5s ease-out both;
}
.vibrate-1 {
  -webkit-animation: vibrate-1 3s linear infinite both;
  animation: vibrate-1 3s linear infinite both;
}
.bounce-top {
  -webkit-animation: bounce-top 5s infinite both;
  animation: bounce-top 5s infinite both;
}
.heartbeat {
  -webkit-animation: heartbeat 5s ease-in-out infinite both;
  animation: heartbeat 5s ease-in-out infinite both;
}
@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
@keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
/**
 * ----------------------------------------
 * animation scale-up-tr
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}
